<div class="fk-d-button-tooltip">
  <a href="{{newTopicUrl}}" class="btn btn-icon-text btn-default" id="create-topic-alt">
    <svg class="fa d-icon d-icon-lock svg-icon svg-string" xmlns="http://www.w3.org/2000/svg">
      <use href="#lock"></use>
    </svg>
    <span class="d-button-label">New Secure Topic</span>
  </a>
</div>
